In [1]:
pip install splinter

Requirement already satisfied: splinter in /Users/leonlee/opt/anaconda3/lib/python3.9/site-packages (0.18.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install webdriver_manager

Requirement already satisfied: webdriver_manager in /Users/leonlee/opt/anaconda3/lib/python3.9/site-packages (3.8.4)
Requirement already satisfied: python-dotenv in /Users/leonlee/opt/anaconda3/lib/python3.9/site-packages (from webdriver_manager) (0.21.0)
Requirement already satisfied: tqdm in /Users/leonlee/opt/anaconda3/lib/python3.9/site-packages (from webdriver_manager) (4.62.3)
Requirement already satisfied: requests in /Users/leonlee/opt/anaconda3/lib/python3.9/site-packages (from webdriver_manager) (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/leonlee/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver_manager) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/leonlee/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver_manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/leonlee/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver_manager) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/leonlee/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver_manager) (2021.10.8)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import time
from webdriver_manager.chrome import ChromeDriverManager

In [4]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [5]:
# Visit the Mars news site
url = 'https://redplanetscience.com/'
browser.visit(url)

# optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [6]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

slide_elem = soup.select_one('div.list_text')

In [7]:
slide_elem.find('div', class_='content_title')

In [8]:
# Use the parent element to find the first a tag and save it as `news_title`
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"NASA's Mars 2020 Rover Tests Descent-Stage Separation"

In [9]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

"A crane lifts the rocket-powered descent stage away from NASA's Mars 2020 rover after technicians tested the pyrotechnic charges that separate the two spacecraft."

# JPL Mars Space Images

In [10]:
# Visit URL
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

f_image_url = 'https://spaceimages-mars.com'
browser.visit(f_image_url)
time.sleep(3)

In [11]:
# clicking the full image button and get the html details.
browser.find_by_tag('button')[1].click()

# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [12]:
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [13]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [16]:
#featured image URL
featured_image_url = soup.find('img', class_='fancybox-image').get('src')

#featured image title
featured_media_title = soup.find('h1', class_='media_feature_title').text

print(f"Featured Image Title = {featured_media_title}")
print(f"featured Image URL = {f_image_url}/{featured_image_url}")

Featured Image Title = Dusty Space Cloud
featured Image URL = https://spaceimages-mars.com/image/featured/mars3.jpg

# Mars Facts

In [15]:
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [17]:
df.columns=['Description', 'Mars', 'Earth']
df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [18]:
df.set_index('Description', inplace=True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [22]:
mars_facts_html = df.to_html()
print(mars_facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Mars - Earth Comparison</th>
      <td>Mars</td>
      <td>Earth</td>
    </tr>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

In [23]:
#convert the dataframe to a HTML table and save to html file ---
df.to_html('marsfacts.html', index=False)

# Hemispheres of Mars

In [24]:
url = 'https://marshemispheres.com/'

browser.visit(url)

In [25]:
# Create a list to hold the images and titles.
hemisphere_image_urls = []

# Get a list of all hemispheres
links = browser.find_by_css('a.product-item img')

# Loop through those links, click the link, find the sample anchor, return the href
for i in range(len(links)):
    # hemisphere info dictionary
    hemisphereInfo = {}
    
    # Find the elements on each loop to avoid a stale element excpetion
    browser.find_by_css('a.product-item img')[i].click()
    
    # Find the Sample image anchor tag and extract the href
    sample = browser.links.find_by_text('Sample').first
    hemisphereInfo["img_url"] = sample['href']
    
    # Get Hemisphere title
    hemisphereInfo['title'] = browser.find_by_css('h2.title').text
    
    # Append hemishpere object to list
    hemisphere_image_urls.append(hemisphereInfo)
    
    # Navigate backwards
    browser.back()

In [26]:
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [27]:
browser.quit()